/* Variables */

:root {
  --color-primary: #44f6fd;
  --color-accent: #fffffa;
  --color-default: #363636;

  --color-background: #242424;
  --color-card: #1b1b1b;

  --color-text: #f9f9f9;
  --color-label: #aaaaaa;
  --color-disabled: #888888;

  --length-md1: 1rem;
  --length-md2: 1.25rem;
  --length-md3: 1.5rem;
}

/* Reset */

body {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  background: var(--color-background);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}

/* Shared Components */

.container {
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 800px;
    margin: 0 auto;
  }
}

.row {
  display: flex;
  gap: 1rem;
  margin-bottom: var(--length-md1);
}

.card {
  flex-grow: 1;
  padding: 1rem;
  background: var(--color-card);
  border-radius: 1rem;
}

.card.has-extra-padding {
  padding: 2rem 1rem;
}

.card-h4 {
  margin-bottom: 4px;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--color-label);
}

.card-h3 {
  margin-bottom: var(--length-md1);
  color: var(--color-label);
  font-size: 1rem;
  font-weight: 500;
}

.card-h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

.card-h2.has-bottom-margin {
  margin-bottom: 2rem;
}

.card-bar-chart {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: flex-end;
  height: 8rem;
  background: repeating-linear-gradient(
    rgba(255, 255, 255, 0.075) 0% 0.5%,
    transparent 0.5% 20%
  );
}

.card-bar-chart > div {
  display: grid;
  place-items: end;
}

.card-bar-chart > div > div {
  width: 1.25rem;
}

.card-bar-chart.is-gauge-chart > div > div {
  width: 3rem;
}

.card-bar-primary {
  background: var(--color-primary);
}

.card-bar-default {
  background: var(--color-default);
}

/* Bespoke Card Styles */

/* Card Headline */

.card-headline-icon {
  display: grid;
  place-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  color: var(--color-primary);
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.1);
}

.card-headline {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Card List */

.card-list {
  display: flex;
  gap: 1.75rem;
  width: 50%;
}

.card-list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-list-badge {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
}

.card-list-badge.primary {
  background: var(--color-primary);
}

.card-list-badge.accent {
  background: var(--color-accent);
}

.card-list-badge.default {
  background: var(--color-default);
}

/* Card Progress */

.card-progress {
  width: 25%;
  text-align: center;
}

.card-progress-donut {
  position: relative;
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  border-radius: 50%;
  background: conic-gradient(
    var(--color-primary) 0% 33%, 
    var(--color-default) 33% 100%
  );
}

.card-progress-donut::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  border-radius: inherit;
  background: var(--color-card);
}

/* Growth Card */

.card-growth {
  width: 50%;
  text-align: center;
}

.card-growth-headlines {
  display: flex;
  justify-content: space-evenly;
}

/* Regions Card */ 
.card-regions {
  width: 25%;
  text-align: center;
}